body {
	background-color: #88304e !important;
}

.create-account {
	margin: 0 auto;
	width: 400px;
	height: auto;
	margin-top: 90px;
}

.create-account h1 {
	margin-top: 15px;
	text-align: center;
	font-size: 22px;
	color: #f3f3f3;
}

/* Team Image */
.team-image { text-align: center; }
.team-image img {
	border-radius: 50%;
	height: auto;
	width: 250px;
}

.form-group input {
	margin-top: 8px;
}